.navBar {
    margin: 0;
    margin-top: -10px;
    margin-left: -10px;
    padding: 0;
    height: 60px;
    width: 100vw;
    background-color: #2E0052;
    box-sizing: border-box;
    text-decoration: none;
    /* position: fixed;
    left: 0;
    top: 0; */
}

.logo> img, .logo> p {
    margin-left: 11px;
    display: inline;
}

.logo > img {
    margin-top: 10px;
}
.navInner {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo>p,
.middleContent>p,
.logout>div {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
}

.logout {
    cursor: pointer;
    margin-top: 18px;
    margin-right: 20px;

}

.loginNone{
    display: none;
}

@media screen and (max-width: 800px) {
    .navBar {
        display: none;
    }
}