.login {
    display: flex;
    flex-direction: column;
}

.login>.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0.5rem;
}

.loginForm {
    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    border: 3px solid #D9D9D9;
    border-radius: 23.2008px;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

}

.formContainer {
    margin: auto auto;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.formContainer>h2 {
    height: 58px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 144.02%;
    text-align: center;
    color: #000000;

}

.formContainer>p {
    height: 30px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 144.02%;
    text-align: center;
    color: #525252;
}

.formGroup>label:nth-child(1) {
    position: relative;
    left: -5vw;
}

#secondLabel {
    position: relative;
    left: -10vw;
}

#email,
#password {
    margin: 6px;
    padding-left: 10px;
    margin-left: -0.3rem;
    width: 400px;
    height: 40px;
    min-width: 300px;
    background: #FFFFFF;
    border: 2px solid #C2C2C2;
    border-radius: 5px;
}

::-webkit-input-placeholder {
    padding-left: 10px;
    color: #525252;
}

.formContainer>#submitBtn {
    width: 420px;
    height: 35px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
    background: #2E0052;
    border-radius: 8px;
}

.formContainer>#submitBtn>span {
    width: 88px;
    height: 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 144.02%;
    text-align: center;
    color: #FFFFFF;
}

/* a {
    width: 75px;
    height: 30px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 144.02%;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
} */
.newUser {
    text-align: center;
    margin-top: 13px
}

.newUser>hr {
    width: 100px;
}

.footer {
    /* fixed bottom */
    position: absolute;
    bottom: 0;
    width: 99.5%;
    height: auto;
}

.login>#createAccountBtn {
    margin-top: 10px;
    margin: auto auto;
    width: 500px;
    height: 35px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
}

.login>#createAccountBtn>span {
    width: 88px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 113% */
    text-align: center;
    color: #000000;
}

@media screen and (max-width: 800px) {
    .loginForm {
        width: 70vw;
        height: 450px;
    }

    .formContainer>h2 {
        height: 40px;
        font-size: 25px;
    }

    .formContainer>p {
        height: 20px;
        font-size: 14px;
    }

    #email,
    #password {
        width: 35vw;
        height: 40px;
        min-width: 300px;
    }

    .formContainer>#submitBtn {
        width: 330px;
        height: 35px;
    }

    .login>#createAccountBtn {
        width: 330px;
        height: 35px;
    }
    
}

@media screen and (max-width: 500px) {

    .loginForm {
        width: 370px;
        height: 450px;
    }

    .formContainer>h2 {
        height: 40px;
        font-size: 23px;
    }

    .formContainer>p {
        height: 20px;
        font-size: 14px;
    }

    #email,
    #password {
        width: 35vw;
        height: 40px;
        min-width: 300px;
    }
}