.viewCart {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.viewCart>.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-bottom: 0.5rem;
}

.viewCart>.backBtn>button {
    margin-top: 2vh;
    margin-left: 2vw;
    width: 150px;
    height: 40px;
    background-color: #2E0052;
    border-radius: 14px;
    cursor: pointer;
}

.viewCart>.backBtn>button>span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
    color: #FFFFFF;
}

.viewCart>.myCart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6px;
}

.viewCart>.myCart>img {
    margin-right: 15px;
    width: 50px;
    height: 50px;
}

.cartItemsWithAmount {
    display: flex;
    margin: auto auto;
}

.cartItemsWithAmount>.leftSide {
    margin-top: 2vh;
    display: flex;
    width: 60vw;
}

.cartItemsWithAmount>.rightSide {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}

.rightSide>button {
    margin-top: 10px;
    width: 180px;
    height: 40px;
    background-color: #FFD600;
    border-radius: 10px;
}

.rightSide > button > span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #000000;
}

.footer{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}