.footer {
    background-color: #2E0052;
    padding: 10px 0;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.footer>p {
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    /* identical to box height */
    color: #FFFFFF;
}