.signUpContainer {
    display: flex;
    flex-direction: column;
}

.signUpContainer>.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0.5rem;
}

.loginForm {
    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    border: 3px solid #D9D9D9;
    border-radius: 23.2008px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: fit-content;

}

.formContainer {
    margin: auto auto;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.formContainer>h2 {
    height: 58px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 144.02%;
    text-align: center;
    color: #000000;

}

.formContainer>p {
    margin-left: 1.8rem;
    height: 30px;
    padding: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    width: 30vw;
    font-size: 15px;
    line-height: 144.02%;
    text-align: center;
    color: #525252;
}

.formGroup {
    margin-top: -15px;
}

.label {
    position: relative;
    left: -12vw;
}

#labelEmail {
    position: relative;
    left: -7vw;
}

#email,
#password,
#mobileNo,
#name {
    margin: 6px;
    padding-left: 10px;
    margin-left: -0.3rem;
    width: 400px;
    height: 40px;
    min-width: 300px;
    background: #FFFFFF;
    border: 2px solid #C2C2C2;
    border-radius: 5px;
}

::-webkit-input-placeholder {
    padding-left: 10px;
    color: #525252;
}

#youMustAgree {
    margin-left: 29px;
    width: 30vw;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.formContainer>#submitBtn {
    margin-top: 16px;
    width: 420px;
    height: 35px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
    background: #2E0052;
    border-radius: 8px;
}

.formContainer>#submitBtn>span {
    width: 88px;
    height: 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 144.02%;
    text-align: center;
    color: #FFFFFF;
}

.oldUser {
    height: 100px;
    text-align: center;
    margin-top: 1rem;
}

/* .oldUser>hr {
    width: 100px;
} */

@media screen and (max-width: 800px) {
    .loginForm {
        width: 70vw;
        height: auto;
    }

    .formContainer>h2 {
        height: 30px;
        font-size: 28px;
    }

    .formContainer>p {
        margin-top: -8px;
        margin-left: 11vw;
        width: 39vw;
        height: 50px;
        font-size: 14px;
    }

    #email,
    #password,
    #mobileNo,
    #name {
        width: 35vw;
        height: 40px;
        min-width: 300px;
    }

    .formContainer>#submitBtn {
        width: 330px;
        height: 35px;
    }

    #youMustAgree {
        margin-top: -15px;
        margin-left: 11vw;
        width:42vw;
        height: 90px;
        font-size: 15px;
    }

}

@media screen and (max-width: 500px) {

    .loginForm {
        padding: 1.4rem;
        width: 70vw;
        height: auto;
    }

    .formContainer>h2 {
        height: 31px;
        font-size: 26px;
    }

    .formContainer>p {
        margin-top: -8px;
        margin-left: 11vw;
        width: 47vw;
        padding: 5px;
        height: 40px;
        font-size: 13px;
    }

    #email,
    #password,
    #mobileNo,
    #name {
        margin-left: 4px;
        width: 35vw;
        height: 40px;
        min-width: 260px;
    }

    .formContainer>#submitBtn {
        width: 40vw;
        height: 35px;
    }

    #youMustAgree {
        padding-bottom: 10px;
        margin-top: -15px;
        margin-left: 11vw;
        width:42vw;
        height: 30vw;
        max-height: 103px;
        font-size: 13px;
    }
}